body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar .nav-link {
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.navbar .nav-item.active {
    border-left: #444 3px solid;
}


/*start header */

.carousel-item{
    height: 450px;
}
.carousel-image-1{
    background-image: url(../imgs/image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.carousel-image-2{
    background-image: url(../imgs/image2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.carousel-image-3{
    background-image: url(../imgs/image3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
#home-heading{
    position: relative;
    background-image: url(../imgs/lights.jpg);
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    min-height: 200px;
}
.overlay-dark{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,.7);
}
#video-play{
    position: relative;
    background-image: url(../imgs/media.jpg);
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    min-height: 200px;
}
#video-play a{
    color: #fff;
    margin-bottom: 20px;
}



/* end header */


/* start contact section */

.contactSectionFirst .bgImg {
    background-image: url('../imgs/img1.png');
    background-attachment: fixed;
}

.contactSectionFirst .bgImg .details h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
}

.contactSectionFirst .bgImg .details p {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}

.contactSecondSection .left h4 {
    font-weight: 600;
}

.contactSecondSection .left p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.contactSecondSection .right h3 {
    font-weight: 600;
    font-size: 1.8rem;
}

.contactThirsSection {
    font-size: 1.1rem;
}

.contactThirsSection h1 {
    font-weight: 600;
    font-size: 2.5rem !important;
}


/* end contact section */

#main-footer {
    background: #000;
    color: #fff;
}

#main-footer p {
    font-size: 1.02rem;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

/* start services section*/

.first-sec
{
  height:200px;
  background-image: url('../imgs/IMG_20200422_135549.jpg');
  background-size: 100% 100%;
}
.first-sec .a7a 
{
    
}
.first-sec> div
{
    color:white;
    left:28%;
    top:20%;
}
.first-sec h2
{
    font-size:2.5rem;
    
}
.first-sec p
{
    font-size:19px;
}
/* start plan section*/
.plans .container .row .card .plan-n
{
background-color: #343a40 !important;
color:white;
}
.plans .container .row .card .plan-n h3 
{
    font-size: 2rem;
    font-weight: 550;
}
.plans .container .row .card .end-body
{
    color:#6c757d!important
}
/* end plans section*/

/* start que section*/

.que-sec 
{
    background-color: #343a40!important;
   
}

.que-sec h2
{
   font-weight:500;
   font-size:2.8rem;
   color:white
}

.que-sec .card 
{
    border:none !important;
    background-color: transparent;
}

.que-sec .card ul li
{
    background-color: #333;
    color:white;
    font-size:1.4rem
    
}

@media (max-width:960px)
{
    .first-sec> div
{
    color:white;
    left:5%;
    top:15%;
}
.first-sec h2
{
    font-size:2.5rem;
    font-weight: 600 !important;
    
}
.first-sec p
{
    font-size:18px;
}
}

/*end que section*/












/* end services section*/