body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar .nav-link {
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.navbar .nav-item.active {
    border-left: #444 3px solid;
}


/*start header */

.carousel-item{
    height: 450px;
}
.carousel-image-1{
    background-image: url(../imgs/image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.carousel-image-2{
    background-image: url(../imgs/image2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.carousel-image-3{
    background-image: url(../imgs/image3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
#home-heading{
    position: relative;
    background-image: url(../imgs/lights.jpg);
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    min-height: 200px;
}
.overlay-dark{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,.7);
}
#video-play{
    position: relative;
    background-image: url(../imgs/media.jpg);
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    min-height: 200px;
}
#video-play a{
    color: #fff;
    margin-bottom: 20px;
}



/* end header */

/* ------------------------------ header of pages ---------------------------------------------- */
#page-header{
    height: 200px;
    background: url(../imgs/image1.jpg);
    background-position: 0 -360px;
    background-attachment: fixed;
    color: #fff;
    border-bottom: 1px #eee solid;
    padding-top: 50px;
}

/* start contact section */

/* 
.contactSectionFirst .bgImg .details h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
}

.contactSectionFirst .bgImg .details p {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
} */

.contactSecondSection .left h4 {
    font-weight: 600;
}

.contactSecondSection .left p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.contactSecondSection .right h3 {
    font-weight: 600;
    font-size: 1.8rem;
}

.contactThirsSection {
    font-size: 1.1rem;
}

.contactThirsSection h1 {
    font-weight: 600;
    font-size: 2.5rem !important;
}


/* end contact section */

#main-footer {
    background: #000;
    color: #fff;
}

#main-footer p {
    font-size: 1.02rem;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
/**************************************  blog  *********************************************************/
/* #sectionOne{
    height: 200px;
    background-image: url(../imgs/head-img.jpg);
    background-attachment: fixed;
    background-position: 0 -360px;
}
#sectionOne .main{
    font-size: 2.5rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
   color: rgb(255, 255, 255);
}
#sectionOne .main1{
    color: rgb(255, 255, 255);
    font-size:16px;
    font-weight:400;
    line-height:24px;
    margin-bottom:1rem;
} */
/* content */
.content{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.content .card-body{
    padding: 1.25rem;
}
.content .card{
    margin-bottom: 0.75rem;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.content .card-body h4{
    margin-bottom: .75rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    color:rgb(33, 37, 41);
    position: relative;
}

.content .card-body .style{
    font-size:12.8px;
    font-weight:400;
    line-height:19.2px;
    margin: 1rem 0;              /*  ********** not working ? ********  */
}
.content .card-body h4:after{
    content: " ";
    background-color: #6c757d;
    margin: 1rem 0;
    height: 0.3px;
    width: 310px;
    position: absolute;
    top: 60px;
    left: -1px;
}
.content .card-body .pStyle{
padding-top: 1.25rem;
}
.secondRow  .pStyle2{
    line-height:24px;
    margin-bottom: 1rem;
}

.secondRow  .styleSpan2{
    font-size:10.24px;
    line-height:15.36px;
    padding-left: 25px;
}
.secondRow .card-body{
    padding:20px ;
}
.secondRow p::before{
    content: " ";
    background-color: #6c757d;
    height: 0.3px;
    width: 15px;
    position: absolute;
    top: 138px;
    left: 37px;
}
/**************************************  blog end ************************************************/


/* start services section*/

/* .first-sec
{
  height:200px;
  background-image: url('../imgs/IMG_20200422_135549.jpg');
  background-size: 100% 100%;
}

.first-sec> div
{
    color:white;
    left:28%;
    top:20%;
}
.first-sec h2
{
    font-size:2.5rem;

}
.first-sec p
{
    font-size:19px;
} */
/* start plan section*/
.plans .container .row .card .plan-n
{
background-color: #343a40 !important;
color:white;
}
.plans .container .row .card .plan-n h3 
{
    font-size: 2rem;
    font-weight: 550;
}
.plans .container .row .card .end-body
{
    color:#6c757d!important
}
/* end plans section*/

/* start que section*/

.que-sec 
{
    background-color: #343a40!important;

}

.que-sec h2
{
   font-weight:500;
   font-size:2.8rem;
   color:white
}

.que-sec .card 
{
    border:none !important;
    background-color: transparent;
}

.que-sec .card ul li
{
    background-color: #333;
    color:white;
    font-size:1.4rem

}

@media (max-width:960px)
{
    .first-sec> div
{
    color:white;
    left:5%;
    top:15%;
}
.first-sec h2
{
    font-size:2.5rem;
    font-weight: 600 !important;

}
.first-sec p
{
    font-size:18px;
}
}

/*end que section*/
