body {
  overflow-x: hidden;
  height:3000px
}

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}












#main-footer {
  background: rgb(44, 46, 47);
  color: #fff;
}